[submodule "src/ros2_astra_camera"]
	path = src/ros2_astra_camera
	url = https://github.com/orbbec/ros2_astra_camera.git
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
